{% extends 'quotes/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <nav class="button-filter">
        <a href="?sort=likes" > По лайкам</a>
        <a href="?sort=dislikes"> По дизлайкам</a>
        <a href="?sort=views"> По просмотрам</a>
    </nav>
    <hr>

    {% if quotes %}
        {% for item in quotes %}
            <p><strong>{{ forloop.counter }}. {{ item.text_quotes }}</strong>
                - 👍🏻 {{ item.likes }} | 👎🏻 {{ item.dislikes }} |👀 {{ item.views }}
            </p><br>
        {% endfor %}
    {% endif %}

{% endblock %}